# Ignore files
.DS_Store
.vscode

# Ignore npm stuff
node_modules
npm-debug.log

# Ignore Nuxt build
.nuxt

# Ignore Nuxt generate
dist

static/sw.js
static/workbox-sw*.js
static/workbox-sw*.js.map

# Ignore local config file
.contentful.json
