.highlight
  margin: 0
  background-color: #3f3f3f
  overflow: auto
  padding: $marginNormal
  code,
  pre
    color: #fdce93
    background-color: #3f3f3f
  .lineno
    padding-right: $marginNormal
    color: #737373
  .hll
    background-color: #222
  .err
    color: #e37170
    background-color: #3d3535
  .k
    color: #f0dfaf
  .p
    color: #41706f
  .cs
    color: #cd0000
    font-weight: 700
  .gd
    color: #cd0000
  .ge
    color: #ccc
    font-style: italic
  .gr
    color: red
  .go
    color: gray
  .gs
    color: #ccc
    font-weight: 700
  .gu
    color: purple
    font-weight: 700
  .gt
    color: #0040D0
  .kc
    color: #dca3a3
  .kd
    color: #ffff86
  .kn
    color: #dfaf8f
    font-weight: 700
  .kp
    color: #cdcf99
  .kr
    color: #cdcd00
  .ni
    color: #c28182
  .ne
    color: #c3bf9f
    font-weight: 700
  .nn
    color: #8fbede
  .vi
    color: #ffffc7
  .c,
  .c1,
  .cm,
  .cp,
  .g
    color: #7f9f7f
  .l,
  .nd,
  .nl,
  .no,
  .nx,
  .py,
  .w,
  .x
    color: #ccc
  .n,
  .nv,
  .vg
    color: #dcdccc
  .o,
  .ow
    color: #f0efd0
  .gh,
  .gp
    color: #dcdccc
    font-weight: 700
  .gi,
  .kt
    color: #00cd00
  .ld,
  .s,
  .s1,
  .s2,
  .sb,
  .sc,
  .sd,
  .se,
  .sh,
  .si,
  .sr,
  .ss,
  .sx
    color: #cc9393
  .il,
  .m,
  .mf,
  .mh,
  .mi,
  .mo
    color: #8cd0d3
  .na,
  .nt
    color: #9ac39f
  .bp,
  .nb,
  .nc,
  .nf,
  .vc
    color: #efef8f
    