.o-line
  border: none
  border-top: 3px solid $peacock
  padding: 0
  margin: 1.25em auto
  max-width: 10em

.o-container
  max-width: 42rem
  margin: 0 auto
  padding-left: $baseline
  padding-right: $baseline

.o-logo
  font-size: 1.5rem
  font-weight: 600
  text-decoration: none
  transition: color .2s ease-in-out

  &:hover
    animation: coolor 2s infinite


.o-page
  padding: $baseline 0

  &__title
    font-family: 'Affogato-Regular', sans-serif
    text-align: center
    margin-bottom: 3rem

    .o-page--post &
      margin-bottom: 1rem

.o-img
  max-width: 100%

  &--roundedSmall
    max-width: 10em
    max-height: 10em
    border-radius: 50%
    
  &--center
    display: block
    margin: 0 auto

.o-meta
  font-style: italic
  color: $smoke
  font-size: 15px
  margin-bottom: 3rem

.o-color-preview
  width: 5em
  height: 5em
  line-height: 5em
  border-radius: 50%
  text-align: center
  color: $white

  &--redapple
    background-color: $redapple

  &--peacock
    background-color: $peacock

  &--smoke
    background-color: $smoke

  &--fox
    background-color: $fox

  &--grass
    background-color: $grass

  &--lake
    background-color: $lake
