/* Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  color: $peacock;
  font-family: 'Affogato-Regular', sans-serif;
  font-size: calc( 1em + 1vw );

  background-color: $white;

  // todo remove
  border-top: 1rem solid $redapple;
  padding-left: 1rem;
  padding-right: 1rem;
}

.frontpage-header {
  color: $white;
  z-index: 2;
  pointer-events: none;
  height: 15em;
  padding: $marginNormal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontpage-space {
  position: absolute;
  top: 0;
  height : 15em;
  width : 100%;
}

#space-dots {
  position : relative;

  width  : 100%;
  height : 100%;

  overflow : hidden;
}
