/* Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  color: $peacock;
  font-family: 'Affogato-Regular', sans-serif;
  font-size: calc( 1em + 1vw );
  
  background-color: $cotton;
  border-top: 1rem solid $redapple;

  padding-left: 1rem;
  padding-right: 1rem;
}
