.c-navigation {
	display: flex;
	align-items: center;
	padding: $baseline 0;

	&__menu {
		list-style: none;

		li {
			padding-left: $marginNormal;
			display: inline;

			a {
				text-decoration: none;
				color: $peacock;

				&:hover,
				&:active {
					text-decoration: underline;
				}
			}
		}
	}
}

.c-frontpage {
	width: 100vw;
	margin-left: -$baseline;

	&__header {
		font-family: 'Affogato-Regular', sans-serif;
		color: $white;
	  z-index: 2;
	  pointer-events: none;
	  height: 20rem;
	  padding: $baseline;

	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;

		> h1 {
			font-size: 2.5rem;
			line-height: 2.5rem;
		}

		> p {
			font-size: 1.5rem;
		}
	}

	&__space {
		position: absolute;
	  top: 0;
	  height: 20rem;
	  width: 100%;
	}
}

.c-footer {
  padding: $baseline 0;
  text-align: center;
	color: $smoke;

  &__links {
		border-top: 1px solid $smoke;
		padding-top: $marginNormal;
    margin-bottom: $marginSmall;
  }

	> p {
		font-size: .85em;
	}
}

.c-heart {
	font-size: 20px;
	color: $redapple;
}

.c-glitch {
  text-decoration: none;
	position: relative;
	font-weight: 600;
	color: $peacock;

  &:before,
  &:after {
    display: block;
    content: 'RB';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
  }
  &:after {
    color: #f0f;
    z-index: -2;
  }
  &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
		color: $peacock;

    &:before {
      animation: glitch .5s cubic-bezier(.25, .46, .45, .94) both infinite;
    }
    &:after {
      animation: glitch .5s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
    }
  }

	&--teaser {
		font-size: 4rem;

		&:before,
	  &:after {
	    top: 1.45rem;
	  }
	}
}

.c-teaser {
	font-family: 'Affogato-Regular', sans-serif;
	padding: 2rem 0;

	&__header {
		> p {
			font-size: 1.5rem;
		}
	}

	&__info {
		text-align: left;

	  > p {
	    margin-bottom: 1em;
			font-size: 1.25rem;
			line-height: 1.75rem;
	  }
	}
}

.c-ribbon {
	width: 12em;
  height: 12em;
  overflow: hidden;
  position: fixed;
	font-size: .9rem;
  top: 0;
  right: 0;

	&__main {
	  text-align: center;
	  transform: rotate(45deg);
	  position: relative;
	  left: 4em;
	  top: 1em;
	  width: 11em;
		padding: 0 1em;
	  background-color: $redapple;
	  color: $white;
	}
}
