.c-navigation {
	display: flex;
	align-items: center;
	padding-top: $baseline;
	padding-bottom: $baseline;

	&__menu {
		list-style: none;
		margin-bottom: 0;

		li {
			padding-left: $marginNormal;
			display: inline;

			a {
				text-decoration: none;
				color: $peacock;

				&:hover,
				&:active {
					border-bottom: 2px solid $peacock;
				}
			}
		}
	}

	&__active {
		border-bottom: 2px solid $peacock;
	}
}

.c-frontpage {
	width: 100%;

	&__header {
		font-family: 'Affogato-Regular', sans-serif;
		color: $white;
	  z-index: 2;
	  pointer-events: none;
	  height: 22rem;
	  padding: $baseline;

	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;

		> h1 {
			font-size: 2.5rem;
			line-height: 2.5rem;
		}

		> p {
			font-size: 1.5rem;
		}
	}

	&__space {
		position: absolute;
	  top: 0;
	  height: 22rem;
	  width: 100%;
	}
}

.c-footer {
  padding-top: $baseline;
  padding-bottom: $baseline;
  text-align: center;
	color: $smoke;

  &__links {
		border-top: 1px solid $smoke;
		padding-top: $marginNormal;
    margin-bottom: $marginSmall;
  }

	> p {
		font-size: .85em;
	}
}

.c-heart {
	font-size: 20px;
	color: $redapple;
}

.c-teaser {
	font-family: 'Affogato-Regular', sans-serif;
	padding: $marginLarge 0;

	&__header {
		> p {
			font-size: 1.5rem;
		}
	}

	&__info {
		text-align: left;

	  > p {
			font-size: 1.25rem;
			line-height: 1.75rem;
	  }
	}
}

.c-ribbon {
	width: 12em;
  height: 12em;
  overflow: hidden;
  position: fixed;
	font-size: .9rem;
  top: 0;
  right: 0;

	&__main {
	  text-align: center;
	  transform: rotate(45deg);
	  position: relative;
	  left: 4em;
	  top: 1em;
	  width: 11em;
		padding: 0 1em;
	  background-color: $redapple;
	  color: $white;
	}
}

.c-featuredList {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0;

	> li {
		position: relative;
		padding-left: $baseline;
		margin-bottom: $marginLarge;
		margin-top: $marginNormal;

		&:before {
			content: '';
			width: .65em;
		  height: .65em;
		  border-radius: 10em;
			background-color: $lake;
		  position: absolute;
		  left: 0;
		  top: 50%;
		  transform: translateY(-50%);
		  transition: all .25s ease-in-out;
		}

		&:hover {
			&:before {
				border-radius: 1em;
			  top: 0;
			  height: 100%;
				transform: translateY(0%);
			}
		}

		> a {
			text-decoration: none;
		}
	}

	&--articles {
		> li {
			&:before {
				background-color: $fox;
			}
		}

		a {
			display: block;

			&:hover,
			&:active {
				color: $fox;
			}
		}
	}

	&--projects {
		> li {
			&:before {
				background-color: $lake;
			}
		}

		a {
			&:hover,
			&:active {
				color: $lake;
			}
		}
	}

	h3 {
		margin-top: 0;
		margin-bottom: $marginSmall;
	}

	p {
		margin-bottom: $marginSmall;
	}
}

.c-share {
	&__btn {
		padding: $marginSmall / 2 $marginSmall;
		text-decoration: none;
		color: $white;
		border-radius: .25em;
		display: inline-block;

		&:hover,
		&:active {
			color: $white;
		}

		&--twitter {
			background-color: #55acee;

			&:hover,
			&:active {
				background-color: #66bdff;
			}
		}
	}
}

.c-slide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: $marginNormal 0;
	margin-bottom: $baseline;

	&__image {
		width: 100%;
		border: 1px solid $peacock;
	}

	&__annotations {
		margin-top: $marginNormal;
		width: 100%;
	}

	img, video {
		max-width: 100%;
		display: block;
	}
}

@media (min-width: 600px) {
	.c-slide {
		flex-direction: row;

		&--large {
			flex-direction: column;
		}

		&__image {
			width: 60%;

			.c-slide--large & {
				width: 100%;
			}
		}

		&__annotations {
			padding-left: $marginNormal;
			margin-top: 0;
			width: 40%;

			.c-slide--large & {
				width: 100%;
				margin-top: $marginNormal;
				padding-left: 0;
			}
		}
	}
}
