.c-navigation {
	display: flex;
	padding: $marginNormal;

	&__menu {
		list-style: none;

		li {
			padding-left: $marginNormal;
			display: inline;

			font-size: .8em;

			a {
				text-decoration: none;
				color: $black;

				&:hover,
				&:active {
					text-decoration: underline;
				}
			}
		}
	}
}

.c-teaser {
	max-width: 30em;
	margin: 0 auto;

	&__info {
		text-align: left;
	  line-height: 1.5;

	  > p {
	    margin-bottom: 1em;
	  }

	  a {
	    color : $peacock;

	    &:hover {
	      color : $redapple;
	    }
	  }
	}
}

.c-heart {
	font-size: 20px;
	color: $redapple;
}

.c-glitch {
  text-decoration: none;
	position: relative;
	font-size: 1.6em;
	color: $peacock;

  &:before,
  &:after {
    display: block;
    content: 'RB';
    position: absolute;
    top: 3px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
  }
  &:after {
    color: #f0f;
    z-index: -2;
  }
  &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch 1s cubic-bezier(.25, .46, .45, .94) both infinite;
    }
    &:after {
      animation: glitch 1s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
    }
  }
}
