.o-line {
  border: none;
  border-top: 3px solid $peacock;

  padding: 0;
  margin: 1.25em auto;

  max-width: 10em;
}

.o-container {
  max-width: 38rem;
  margin: 0 auto;
}

.o-logo {
  font-size: 1.5rem;
}

.o-page {
  padding: $baseline 0;

  &__title {
    font-family: 'Affogato-Regular', sans-serif;
    text-align: center;

    margin-bottom: 3rem;
  }
}

.o-color-preview {
  width: 5em;
  height: 5em;
  line-height: 5em;
  border-radius: 50%;
  text-align: center;
  color: $white;

  &--redapple {
    background-color: $redapple;
  }

  &--peacock {
    background-color: $peacock;
  }

  &--smoke {
    background-color: $smoke;
  }
}
