.u-textAlignCenter {
  text-align: center;
}

.u-marginVerticalNormal {
  margin: $marginNormal 0;
}

.u-marginLeftAuto {
  margin-left: auto;
}

.u-noMargin {
  margin: 0;
}

.u-marginBottomNormal {
  margin-bottom: $marginNormal;
}

.u-displayFlex {
  display: flex;
}

.u-justifyContentBetween {
  justify-content: space-between;
}
