/* Colors */
$white: #fff;
$peacock: #0e314c;
$redapple: #e54b4b;
$smoke: #8f9196;
$fox: #e65b2f;
$grass: #5fb287;
$lake: #5cb2d3;

/* Font and Vertical Rhythm */
$baseline: 1.5rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .9rem;
$maxFont: 1.125rem;

/* Headings */
$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;

/* Box Sizing */
$marginSmall: .5rem;
$marginNormal: 1rem;
$marginLarge: 2rem;
