.c-homeHeader {
  color: var(--c-persimmon);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-homeHeader h1 {
  margin: 0;
  max-width: 15em;
  font-size: 2.25rem;
}

.c-homeHeader p {
  font-size: 1.25rem;
  color: white;
  margin-top: 0.5em;
}

.c-homeHeader svg {
  width: 100%;
}

@media screen and (min-width: 364px) {
  .c-homeHeader h1 {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 768px) {
  .c-homeHeader {
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .c-homeHeader h1 {
    font-size: 4.25rem;
  }

  .c-homeHeader svg {
    width: 28em;
  }
}
