<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    {% include 'partials/head.njk' %}
  </head>

  <body>
    <a href="#main" class="c-skipLink u-visibleOnFocus">skip to content</a>

    {% include 'components/nav.html' %}

    <main id="main">
      <div class="c-frontpage">
        <header class="c-frontpage__header u-textAlignCenter">
          <h1>Radimir Bitsov</h1>
          <p>Front-end Engineer — Interaction Designer</p>
        </header>
      </div>
    </main>

    {% include 'components/footer.html' %}
  </body>
</html>
