.c-navigation {
  display: flex;
  align-items: center;
  padding-top: var(--baseline);
  padding-bottom: var(--baseline);
}
.c-navigation__menu {
  list-style: none;
  margin-bottom: 0;
}
.c-navigation__menu li {
  padding-left: var(--marginNormal);
  display: inline;
}
.c-navigation__menu li a {
  text-decoration: none;
  color: var(--peacock);
}
.c-navigation__menu li a:hover,
.c-navigation__menu li a:active {
  border-bottom: 2px solid var(--peacock);
}
.c-navigation__active {
  border-bottom: 2px solid var(--peacock);
}
.c-frontpage {
  width: 100%;
}
.c-frontpage__header {
  font-family: 'Affogato-Regular', sans-serif;
  color: var(--white);
  z-index: 2;
  pointer-events: none;
  height: 22rem;
  padding: var(--baseline);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-frontpage__header > h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.c-frontpage__header > p {
  font-size: 1.5rem;
}
.c-frontpage__space {
  position: absolute;
  top: 0;
  height: 22rem;
  width: 100%;
}
.c-footer {
  padding-top: var(--baseline);
  padding-bottom: var(--baseline);
  text-align: center;
}
.c-footer__links {
  border-top: 1px solid var(--smoke);
  padding-top: var(--marginNormal);
  margin-bottom: var(--marginSmall);
}
.c-footer > p {
  font-size: 0.85em;
}
.c-heart {
  font-size: 20px;
  color: var(--redapple);
}
.c-teaser {
  font-family: 'Affogato-Regular', sans-serif;
  padding: var(--marginLarge);
}
.c-teaser__header > p {
  font-size: 1.5rem;
}
.c-teaser__info {
  text-align: left;
}
.c-teaser__info > p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.c-ribbon {
  width: 12em;
  height: 12em;
  overflow: hidden;
  position: fixed;
  font-size: 0.9rem;
  top: 0;
  right: 0;
}
.c-ribbon__main {
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  left: 4em;
  top: 1em;
  width: 11em;
  padding: 0 1em;
  background-color: var(--redapple);
  color: var(--white);
}
.c-featuredList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.c-featuredList > li {
  position: relative;
  padding-left: var(--baseline);
  margin-bottom: var(--marginLarge);
  margin-top: var(--marginNormal);
}
.c-featuredList > li:before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 10em;
  background-color: var(--lake);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
}
.c-featuredList > li:hover:before {
  border-radius: 1em;
  top: 0;
  height: 100%;
  transform: translateY(0%);
}
.c-featuredList > li > a {
  text-decoration: none;
}
.c-featuredList--noMarginBottom {
  margin-bottom: 0;
}
.c-featuredList--articles > li:before {
  background-color: var(--fox);
}
.c-featuredList--articles a {
  display: block;
}
.c-featuredList--articles a:hover,
.c-featuredList--articles a:active {
  color: var(--fox);
}
.c-featuredList--projects > li:before {
  background-color: var(--lake);
}
.c-featuredList--projects a:hover,
.c-featuredList--projects a:active {
  color: var(--lake);
}
.c-featuredList h3 {
  margin-top: 0;
  margin-bottom: var(--marginSmall);
}
.c-featuredList p {
  margin-bottom: var(--marginSmall);
}
.c-share__btn {
  padding: --marginSmall;
  text-decoration: none;
  color: var(--white);
  border-radius: 0.25em;
  display: inline-block;
}
.c-share__btn:hover,
.c-share__btn:active {
  color: var(--white);
}
.c-share__btn--twitter {
  background-color: #55acee;
}
.c-share__btn--twitter:hover,
.c-share__btn--twitter:active {
  background-color: #66bdff;
}
.c-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--marginNormal 0);
  margin-bottom: var(--baseline);
}
.c-slide__image {
  width: 100%;
  border: 1px solid var(--peacock);
}
.c-slide__annotations {
  margin-top: var(--marginNormal);
  width: 100%;
}
.c-slide img,
.c-slide video {
  max-width: 100%;
  display: block;
}
.c-skipLink {
  display: inline-block;
  padding: 0.5rem 1rem;
}
@media (min-width: 600px) {
  .c-slide {
    flex-direction: row;
  }
  .c-slide--large {
    flex-direction: column;
  }
  .c-slide__image {
    width: 60%;
  }
  .c-slide--large .c-slide__image {
    width: 100%;
  }
  .c-slide__annotations {
    padding-left: var(--marginNormal);
    margin-top: 0;
    width: 40%;
  }
  .c-slide--large .c-slide__annotations {
    width: 100%;
    margin-top: var(--marginNormal);
    padding-left: 0;
  }
}
