---
import Art from '../components/Art.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
---

<Layout title="Web accessibility and performance engineering">
	<div
		style={{
			display: 'flex',
			flexDirection: 'column',
			minHeight: 'calc(100vh - 2em)',
		}}
	>
		<header class="c-header" role="banner">
			<a class="c-logo" href="/" aria-label="radibit logo">
				<svg
					viewBox="0 0 427 426"
					xmlns="http://www.w3.org/2000/svg"
					fill-rule="evenodd"
					clip-rule="evenodd"
					stroke-linejoin="round"
					stroke-miterlimit="2"
				>
					<path
						d="M.964 122.489v-.563L123.705.364v122.125V.364h302.532v303.147h-.3L303.496 425.636H.964V122.489z"
						fill="#fff"
					/>
					<g
						font-family="'Futura-Medium','Futura',sans-serif"
						font-weight="500"
						font-size="110.64"
					>
						<text x="71.6" y="250.816">
							r
							<tspan x="112.225px 178.566px" y="250.816px 250.816px">
								adi
							</tspan>
						</text>
						<text x="151.419" y="375.287">
							bit
						</text>
					</g>
				</svg>
			</a>
		</header>
		<main
			style={{
				maxWidth: '90em',
				margin: '0 auto',
			}}
		>
		<header class="c-homeHeader">
      <div style={{ marginBottom: '2em' }}>
        <h1>Web accessibility and performance engineering</h1>
      </div>

      <div>
        <Art />
      </div>
    </header>
		</main>
		<footer class="c-footer">
			© {new Date().getFullYear()} Copyright radibit Ltd. All rights reserved.
		</footer>
	</div>
</Layout>
