---
layout: page
title: Blog
is-nav-item: true
order: 3
---

<ul class="c-featuredList c-featuredList--articles">
  {% for post in site.posts %}
    <li>
      {% if post.external_url %}
        <a href="{{ post.external_url }}">
          <h3>{{ post.title }}</h3>
          <span class="o-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
        </a>
      {% else %}
        <a href="{{ post.url }}">
          <h3>{{ post.title }}</h3>
          <span class="o-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
