@font-face {
  font-family: 'VarelaRound-Regular';
  src: url('../assets/fonts/VarelaRound-Regular.woff') format('woff'),
      url('../assets//fonts/VarelaRound-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
  --red: #d73f34;
  --blue: #0e314c;
  --orange: #e65b2f;
  --green: #5fb287;
  --ligh-blue: #5cb2d3;
  --white: #fff;
  --grey: #8f9196;
  --baseline: 1.5rem;
  --minScreen: 20rem;
  --maxScreen: 50rem;
  --minFont: .9rem;
  --maxFont: 1.125rem;

  margin: 0;
  padding: 0;

  font-size: 110%;
  font-family: 'VarelaRound-Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


