:root {
  /* Colors */
  --c-ebony-clay: #1d2536;
  --c-persimmon: #ff6153;

  /* Fonts */
  --font-sans-serif: Gilroy-SemiBold, Helvetica, Arial, sans-serif;
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
