<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <main id="main">
      <div class="c-frontpage">
        <header class="c-frontpage__header u-textAlignCenter">
          <h1>Radimir Bitsov</h1>
          <p>Web Developer - Interaction Designer</p>
        </header>

        <div class="c-frontpage__space">
          <canvas id="space-dots"></canvas>
        </div>
      </div>

      <div class="o-container">
        <h2>Projects</h2>
        <ul class="c-featuredList">
          <li>
            <h3>Alfred Vue</h3>
            <p>Alfred 3 workflow to search for Vue.js API references on vuejs.org</p>
            <div>
              <a href="https://github.com/radibit/alfred-vue">Check it out</a>
            </div>
          </li>
          <li>
            <h3>Alfred Keycode</h3>
            <p>Alfred 3 workflow to get JavaScript keycodes</p>
            <div>
              <a href="https://github.com/radibit/alfred-keycode">Check it out</a>
            </div>
          </li>
          <li>
            <h3>Santa Baby Chrome Extension</h3>
            <p>Replace every new tab with lyrics from popular Christmas songs :santa:</p>
            <div>
              <a href="https://chrome.google.com/webstore/detail/santa-baby/janhhfaifmcgknimjljcekkpakjnclnk">
                Visit Chrome Store
              </a>
            </div>
          </li>
          <li>
            <h3>JS Tips Slack Bot</h3>
            <p>Slack Bot for getting the latest JS Tips</p>
            <div>
              <a href="https://github.com/radibit/js-tips-slack-bot">Check it out</a>
            </div>
          </li>
        </ul>

        <h2>Articles</h2>
        <p>Coming soon :smiley:</p>
      </div>
    </main>

    {% include footer.html %}

    <script src="assets/js/vendor/pt-core-ns.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
