<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <main id="main">
      <div class="c-frontpage">
        <header class="c-frontpage__header u-textAlignCenter">
          <h1>Radimir Bitsov</h1>
          <p>Front-end Engineer — Interaction Designer</p>
        </header>

        <div class="c-frontpage__space">
          <canvas id="space-dots"></canvas>
        </div>
      </div>

      <div class="o-container o-container--marginBottom">
        <h2>Projects</h2>
        <ul class="c-featuredList c-featuredList--projects c-featuredList--noMarginBottom">
          <li>
            <h3>Battery Info</h3>
            <p>
              Check easily your laptop battery status.
            </p>
            <div>
              <a href="https://chrome.google.com/webstore/detail/battery-info/jchnojkeefjdioodimacimfiefjdbpag">
                Visit Chrome Web Store
              </a>
            </div>
          </li>
          <li>
            <h3>Mobishape</h3>
            <p>
              A company website for Mobishape.
            </p>
            <div>
              <a href="https://mobishape.com/">See final result</a>
            </div>
          </li>
          <li>
            <h3>Alfred Coolors</h3>
            <p>Find relevant color names.</p>
            <div>
              <a href="https://github.com/radibit/alfred-coolors">Check it out</a>
            </div>
          </li>
          <li>
            <h3>Santa Baby Chrome Extension</h3>
            <p>Replace every new tab with lyrics from popular Christmas songs 🎅</p>
            <div>
              <a href="https://chrome.google.com/webstore/detail/santa-baby/janhhfaifmcgknimjljcekkpakjnclnk">
                Visit Chrome Web Store
              </a>
            </div>
          </li>
          <li>
            <h3>JS Tips Slack Bot</h3>
            <p>Slack Bot for getting the latest JS Tips.</p>
            <div>
              <a href="https://github.com/radibit/js-tips-slack-bot">Check it out</a>
            </div>
          </li>
        </ul>

        <div class="u-marginBottomNormal">
          <a class="o-button" href="/work">View more projects</a>
        </div>
      </div>

      <div class="o-container">
        <h2>Articles</h2>
        <ul class="c-featuredList c-featuredList--articles">
          {% for post in site.posts %}
            <li>
              {% if post.external_url %}
                <a href="{{ post.external_url }}">
                  <h3>{{ post.title }}</h3>
                  <span class="o-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                </a>
              {% else %}
                <a href="{{ post.url }}">
                  <h3>{{ post.title }}</h3>
                  <span class="o-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </main>

    {% include footer.html %}

    {% include scripts.html %}

    <script src="assets/js/vendor/pt-core-ns.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
