<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <main id="main">
      <header class="frontpage-header u-textAlignCenter">
        <h1 class="o-headline-1 u-noMargin">Radimir Bitsov</h1>
        <p class="u-marginSmallVertical">Web Developer - Interaction Designer</p>
      </header>

      <div class="frontpage-space">
        <canvas id="space-dots"></canvas>
      </div>
    </main>

    <script src="assets/js/vendor/pt-core-ns.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
