<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <main role="main">
      <div class="c-ribbon">
        <div class="c-ribbon__main">Under Construction</div>
      </div>​

      <div class="c-teaser o-container">
        <div class="u-textAlignCenter c-teaser__header">
          <h1 class="u-marginSmallVertical">
            <a class="c-glitch c-glitch--teaser" href="{{ site.baseurl }}/">RB</a>
          </h1>
          <p>Web Developer - Interaction Designer</p>
        </div>

        <hr class="o-line">

        <div class="c-teaser__info">
          <p>
            My name is Radimir Bitsov and I'm a web developer with a passion for
            technology, interaction design, art and music.
          </p>
          <p>
            I’m currently living and working in Berlin as a front-end engineer for
            <a href="http://www.junomedical.com/en">Junomedical</a>.
            Previously, I worked for <a href="http://www.loopline-systems.com/en">Loopline Systems</a>,
            <a href="http://tumba.solutions/">Tumba Solutions</a> and <a href="http://www.icb.bg/">ICB</a>.
            You can take a look at my <a href="https://www.dropbox.com/s/rymb4ddf22rpdho/Radimir.Bitsov_Resume.pdf?dl=0">résumé</a>.
          </p>
          <p>
            I <span class="c-heart">❤︎</span> spending my time working on side projects in
            <a href="https://github.com/radibit">Github</a> and <a href="https://codepen.io/_rbit/">Codepen</a>,
            <a href="https://twitter.com/radibit">Tweeting</a> and listening
            <a href="https://play.spotify.com/user/radimir.bitsov/playlist/0sxE6ypafdZWLL1eiuN3ZZ">Music</a>.
          </p>
        </div>
      </div>
    </main>

    {% include scripts.html %}
  </body>

</html>
