<!DOCTYPE html>
<html class="teaser">

  {% include head.html %}

  <body>

    <div class="u-flex--center u-paddingHorizontal">
      <div class="u-textAlignCenter">
        <img class="profile-img" src="{{ site.baseurl }}/img/profile_pic.jpg" alt="Profile Image">

        <div class="intro-text">
          <h1>Radimir Bitsov</h1>
          <p>Web Developer - User Experience Designer</p>
        </div>

        <hr class="line">

        <div class="info">
          <p>
            My name is Radimir Bitsov and I'm a web developer with a passion for technology, interaction design, art and music.
          </p>
          <p>
            I’m currently living and working in Berlin as a front-end devloper for <a href="http://www.loopline-systems.com/en">Loopline Systems</a>.
            Previously, I worked for <a href="http://tumba.solutions/">Tumba Solutions</a> and <a href="http://www.icb.bg/">ICB</a>.
            You can take a look at my <a href="https://www.dropbox.com/s/rymb4ddf22rpdho/Radimir.Bitsov_Resume.pdf?dl=0">résumé</a>.
          </p>
          <p>
            I love spending my time working on side projects in <a href="https://codepen.io/_rbit/">Codepen</a> and <a href="https://github.com/radibit">Github</a>,
            <a href="https://twitter.com/radibit">Tweeting</a> and listening <a href="https://play.spotify.com/user/radimir.bitsov/playlist/0sxE6ypafdZWLL1eiuN3ZZ">Music</a>.
          </p>
        </div>
      </div>
    </div>

  </body>

</html>
